openapi: 3.0.3
info:
  title: Cbonds Web Services API
  description: ''
  version: 1.0.0
servers:
  - url: "https://ws2.cbonds.info"
tags:
  - name: API_Emissions
    description: Облигации
  - name: API_Stocks
    description: Акции
  - name: API_Creditratings
    description: Кредитные рейтинги
  - name: API_Indexes
    description: Индексы
  - name: API_FinancialReports
    description: Эмитенты и Отчетность
  - name: API_Funds
    description: ETF/MF и ПИФ
  - name: dictionaries
    description: Справочник
  - name: API_Derivatives
    description: Деривативы
  - name: API_Calendars
    description: Календари
  - name: API_FloaterCoupons
    description: FRN и ILB
paths:
  "/services/json/get_emissions/":
    post:
      tags:
        - API_Emissions
      summary: Параметры эмиссий облигаций и еврооблигаций
      description: "Данные содержат все основные параметры по долговым ценным бумагам: объем эмиссии, даты начала (окончания) размещения, даты погашения, номинал (минимальный торговый лот, лот кратности), информацию о регистрации выпуска и все доступные коды (ISIN, CUSIP, CFI и тд), различные типы классификаций (амортизационные, бессрочные, обеспеченные, субординированные и тд), данные о реструктуризации, информацию о гарантах и поручителях, результаты размещения (цена, доходность, спред). Дополнительно в рамках операции доступна также основная информация по эмитенту выпуска."
      operationId: get_emissions
      parameters:
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum:
              - eng
              - rus
              - pol
              - ita
            default: eng
          description: Response language
      requestBody:
        required: true
        content:
          "application/json":
            schema:
              type: object
              required:
                - auth
              properties:
                auth:
                  type: object
                  description: API credentials
                  required:
                    - login
                    - password
                  properties:
                    login:
                      type: string
                      description: API login
                    password:
                      type: string
                      format: password
                      description: API password
                filters:
                  type: array
                  description: Filter conditions. Only searchable fields can be used.
                  items:
                    type: object
                    required:
                      - field
                      - operator
                    properties:
                      field:
                        type: string
                        enum:
                          - id
                          - isin_code
                          - isin_code_144a
                          - isin_code_3
                          - state_reg_number
                          - currency_id
                          - kind_id
                          - status_id
                          - date_of_end_placing
                          - maturity_date
                          - early_redemption_date
                          - convertable
                          - emitent_id
                          - subkind_id
                          - coupon_type_id
                          - placing_type_id
                          - vid_id
                          - formal_emitent_id
                          - bond_type
                          - floating_rate
                          - reference_rate_id
                          - subordinated_debt
                          - settlement_date
                          - bbgid
                          - bbgid_composite
                          - emitent_inn
                          - emission_cupon_basis_id
                          - emission_emitent_id
                          - emitent_type
                          - emitent_country
                          - cusip_144a
                          - cusip_regs
                          - emitent_country_region_id
                          - updating_date
                          - emitent_country_subregion_id
                          - offert_date
                          - emitent_branch_id
                          - update_time
                          - mortgage_bonds
                          - restructing
                          - show_ru
                          - secured_debt
                          - perpetual
                          - structured_note
                          - emission_cbr_code
                          - green_bonds
                          - retail_bond
                          - has_default
                          - bbgid_144a
                          - sedol
                          - business_day_convention_id
                          - nkd_calc_types_id
                          - indexation_type
                          - payment_currency_id
                          - ss_current_trading_grounds
                          - for_qualified_investors
                          - has_unsettled_default
                          - guaranteed_bonds
                          - variable_rate_type_id
                          - social_bond
                          - transition_bond
                          - sustainability_bond
                          - sustainability_linked_bond
                          - investment_bond
                      operator:
                        type: string
                        enum:
                          - eq
                          - ne
                          - nu
                          - nn
                          - lt
                          - le
                          - gt
                          - ge
                          - in
                          - ni
                        description: "eq, ne, nu (is null), nn (is not null), lt, le, gt, ge, in, ni (not in)"
                      value:
                        description: Filter value. Use null for nu/nn operators. Use semicolon-separated values for in/ni.
                        nullable: true
                quantity:
                  type: object
                  properties:
                    limit:
                      type: integer
                      minimum: 1
                      example: 10
                    offset:
                      type: integer
                      minimum: 0
                      example: 0
                sorting:
                  type: array
                  description: Sorting rules. Only sortable fields can be used.
                  items:
                    type: object
                    required:
                      - field
                    properties:
                      field:
                        type: string
                        enum:
                          - id
                          - isin_code
                          - isin_code_144a
                          - isin_code_3
                          - state_reg_number
                          - currency_id
                          - kind_id
                          - status_id
                          - date_of_end_placing
                          - maturity_date
                          - early_redemption_date
                          - convertable
                          - emitent_id
                          - subkind_id
                          - coupon_type_id
                          - placing_type_id
                          - vid_id
                          - formal_emitent_id
                          - bond_type
                          - floating_rate
                          - reference_rate_id
                          - subordinated_debt
                          - settlement_date
                          - bbgid
                          - bbgid_composite
                          - emitent_inn
                          - emission_cupon_basis_id
                          - emission_emitent_id
                          - emitent_type
                          - emitent_country
                          - cusip_144a
                          - cusip_regs
                          - emitent_country_region_id
                          - updating_date
                          - emitent_country_subregion_id
                          - offert_date
                          - emitent_branch_id
                          - update_time
                          - mortgage_bonds
                          - restructing
                          - show_ru
                          - secured_debt
                          - perpetual
                          - structured_note
                          - emission_cbr_code
                          - green_bonds
                          - retail_bond
                          - has_default
                          - bbgid_144a
                          - sedol
                          - business_day_convention_id
                          - nkd_calc_types_id
                          - indexation_type
                          - payment_currency_id
                          - ss_current_trading_grounds
                          - for_qualified_investors
                          - has_unsettled_default
                          - guaranteed_bonds
                          - variable_rate_type_id
                          - social_bond
                          - transition_bond
                          - sustainability_bond
                          - sustainability_linked_bond
                          - investment_bond
                      order:
                        type: string
                        enum:
                          - asc
                          - desc
                        default: asc
                fields:
                  type: array
                  description: "Fields to return. If omitted, all fields are returned."
                  items:
                    type: object
                    required:
                      - field
                    properties:
                      field:
                        type: string
                        enum:
                          - id
                          - isin_code
                          - isin_code_144a
                          - isin_code_3
                          - number_of_emission_rus
                          - number_of_emission_eng
                          - number_of_emission_pol
                          - number_of_emission_ita
                          - state_reg_number
                          - currency_id
                          - nominal_price
                          - indexation_rus
                          - indexation_eng
                          - indexation_pol
                          - indexation_ita
                          - announced_volume
                          - placed_volume
                          - cupon_period
                          - kind_id
                          - status_id
                          - date_of_end_placing
                          - date_of_start_circulation
                          - date_of_start_placing
                          - next_replacing_date
                          - maturity_date
                          - early_redemption_date
                          - convertable
                          - emitent_id
                          - subkind_id
                          - auction_type_id
                          - coupon_type_id
                          - issue_form_id
                          - placing_type_id
                          - private_offering_id
                          - vid_id
                          - registration_date
                          - price_of_primary_placing
                          - income_of_primary_placing
                          - formal_emitent_id
                          - guarantor_id
                          - bond_type
                          - next_replacing_amount
                          - floating_rate
                          - reference_rate_id
                          - margin
                          - dcc_code
                          - dcc_code_144a
                          - cfi_code
                          - cfi_code_144a
                          - integral_multiple
                          - subordinated_debt
                          - settlement_date
                          - micex_shortname
                          - bbgid
                          - bbgid_composite
                          - bbgid_ticker
                          - code_pfts
                          - emitent_inn
                          - emitent_inn_ua
                          - emitent_name_rus
                          - emitent_name_eng
                          - emitent_name_pol
                          - emitent_name_ita
                          - emitent_type_name_rus
                          - emitent_type_name_eng
                          - emitent_type_name_pol
                          - emitent_type_name_ita
                          - emitent_adress_rus
                          - emitent_adress_eng
                          - emitent_adress_pol
                          - emitent_adress_ita
                          - emitent_phone
                          - emitent_email
                          - emitent_site_rus
                          - emitent_site_eng
                          - emitent_site_pol
                          - emitent_site_ita
                          - formal_emitent_name_rus
                          - formal_emitent_name_eng
                          - formal_emitent_name_pol
                          - formal_emitent_name_ita
                          - emission_cupon_basis_id
                          - emission_emitent_id
                          - emitent_type
                          - emitent_country
                          - ss_trading_grounds
                          - ss_tg_qlists
                          - ss_tg_countries
                          - cusip_144a
                          - cusip_regs
                          - emitent_country_region_id
                          - updating_date
                          - kind_name_eng
                          - kind_name_rus
                          - kind_name_pol
                          - kind_name_ita
                          - status_name_eng
                          - status_name_rus
                          - status_name_pol
                          - status_name_ita
                          - placing_type_name_eng
                          - placing_type_name_rus
                          - placing_type_name_pol
                          - placing_type_name_ita
                          - currency_name
                          - emitent_country_name_eng
                          - emitent_country_name_rus
                          - emitent_country_name_pol
                          - emitent_country_name_ita
                          - emission_cupon_basis_title
                          - cupon_eng
                          - cupon_rus
                          - cupon_pol
                          - cupon_ita
                          - agents_eng
                          - agents_rus
                          - agents_pol
                          - agents_ita
                          - guarantor_name_eng
                          - guarantor_name_rus
                          - guarantor_name_pol
                          - guarantor_name_ita
                          - emitent_country_subregion_id
                          - emitent_reg_form_name_rus
                          - emitent_reg_form_name_eng
                          - emitent_reg_form_id
                          - outstanding_nominal_price
                          - document_eng
                          - document_rus
                          - document_pol
                          - document_ita
                          - offert_date
                          - emitent_branch_id
                          - emitent_branch_name_eng
                          - emitent_branch_name_pol
                          - emitent_branch_name_rus
                          - number_of_emission
                          - update_time
                          - emitent_branch_name_ita
                          - formal_emitent_type
                          - formal_emitent_reg_form_id
                          - formal_emitent_country
                          - formal_emitent_branch_id
                          - book_closing_date
                          - book_opening_date
                          - more_eng
                          - more_rus
                          - mortgage_bonds
                          - restructing
                          - restructing_date
                          - restructing_more_eng
                          - restructing_more_rus
                          - remaining_outstand_amount
                          - cbrf_listing_lombard_last_date_date
                          - gov_program_state_reg_number
                          - show_em
                          - show_ru
                          - show_ua
                          - private_issue
                          - secured_debt
                          - spread_mid_swaps
                          - spread_us_treasures
                          - perpetual
                          - eurobonds_nominal
                          - curr_coupon_rate
                          - curr_coupon_sum
                          - reference_rate_name_eng
                          - reference_rate_name_rus
                          - reference_rate_name_pol
                          - reference_rate_name_ita
                          - subkind_name_eng
                          - subkind_name_rus
                          - subkind_name_pol
                          - subkind_name_ita
                          - structured_note
                          - show_pl
                          - coupon_type_name_eng
                          - coupon_type_name_rus
                          - coupon_type_name_pol
                          - coupon_type_name_ita
                          - vid_name_eng
                          - vid_name_rus
                          - vid_name_pol
                          - vid_name_ita
                          - issue_form_name_eng
                          - issue_form_name_rus
                          - issue_form_name_pol
                          - issue_form_name_ita
                          - private_offering_name_eng
                          - private_offering_name_rus
                          - private_offering_name_pol
                          - private_offering_name_ita
                          - auction_type_name_eng
                          - auction_type_name_rus
                          - auction_type_name_pol
                          - auction_type_name_ita
                          - emission_wkn_code
                          - gov_program_registration_date
                          - initial_placement_volume
                          - emission_coupon_rate
                          - emitent_full_name_eng
                          - emitent_full_name_rus
                          - emitent_full_name_pol
                          - emitent_full_name_ita
                          - settlement_duration
                          - emission_wkn_code_144a
                          - usd_volume
                          - offert_rus
                          - offert_eng
                          - offert_pol
                          - offert_ita
                          - offert_date_put
                          - offert_date_call
                          - show_ib
                          - convert_cond_rus
                          - convert_cond_eng
                          - convert_cond_pol
                          - convert_cond_ita
                          - trading_ground_name_rus
                          - trading_ground_name_eng
                          - trading_ground_name_pol
                          - trading_ground_name_ita
                          - trading_grounds_full_rus
                          - trading_grounds_full_eng
                          - tradings_maxdate
                          - tradings_indicative_price
                          - tradings_yield_effect
                          - tradings_duration
                          - emitent_pages_code
                          - emission_cbr_code
                          - redemption_price
                          - securitisation
                          - foreign_bond
                          - tg_quoters_quantity
                          - mp_quoters_quantity
                          - total_quoters_quantity
                          - quoters_quantity_date
                          - tgs_last_quotes_sum_volume
                          - cdo_bond
                          - sukuk_bond
                          - green_bonds
                          - retail_bond
                          - has_tap_issue
                          - has_default
                          - has_rating
                          - common_code
                          - common_code_144a
                          - ndc_code
                          - bbgid_144a
                          - bbgid_ticker_144a
                          - sedol
                          - maturity_period_initial
                          - last_replacing_date
                          - floor
                          - cup
                          - order_book
                          - accounts
                          - geography_breakdown_rus
                          - geography_breakdown_eng
                          - investors_type_rus
                          - investors_type_eng
                          - suspension_date
                          - resumption_date
                          - cutoff_price
                          - cutoff_yield
                          - low_yield_guidance
                          - high_yield_guidance
                          - low_coupon_guidance
                          - high_coupon_guidance
                          - book_opening_time
                          - book_closing_time
                          - purpose_rus
                          - purpose_eng
                          - amortization_schedule_rus
                          - amortization_schedule_eng
                          - report_registration_date
                          - conversion_date
                          - business_day_convention_id
                          - business_day_convention_name_eng
                          - converted_from
                          - converted_to
                          - decision_date
                          - exchanged_from
                          - exchanged_to
                          - floating_rates_day
                          - micex_shortname_eng
                          - nkd_calc_types_id
                          - nkd_calc_types_name_rus
                          - nkd_calc_types_name_eng
                          - number_of_trades_on_issue_date
                          - other_tranches
                          - precision_emission
                          - precision_coupon
                          - record_day
                          - serial_of_emission
                          - serial_of_emission_eng
                          - sp_category_id
                          - sp_category_name_eng
                          - sp_type_id
                          - sp_type_name_eng
                          - trace_eligible_securites
                          - underlying_class_id
                          - underlying_class_name_eng
                          - tg_main_exchange_id
                          - tg_main_exchange_rus
                          - tg_main_exchange_eng
                          - cbrf_listing_lombard_first_date
                          - kind_name_deu
                          - kind_name_esp
                          - kind_name_chn
                          - kind_name_ukr
                          - all_bond_types
                          - dual_currency_bond
                          - redemption_linked
                          - indexation_type
                          - indexation_type_name_rus
                          - indexation_type_name_eng
                          - payment_currency_id
                          - payment_currency_name
                          - underlying_ticker
                          - initial_premium
                          - convertible_until
                          - lock_up
                          - underlying_instrument_code
                          - first_coupon_end
                          - reg_s
                          - provider_emitent_id
                          - bond_rank
                          - bond_issue_form
                          - status_issue_form
                          - delay_days
                          - pik
                          - qgc_rewrite_type
                          - bond_class
                          - bond_rank_name_rus
                          - bond_rank_name_eng
                          - bond_issue_form_name_rus
                          - bond_issue_form_name_eng
                          - status_issue_form_name_rus
                          - status_issue_form_name_eng
                          - curr_coupon_date
                          - ss_current_trading_grounds
                          - for_qualified_investors
                          - has_unsettled_default
                          - announced_volume_new
                          - placed_volume_new
                          - outstanding_volume
                          - initial_nominal_price
                          - guaranteed_bonds
                          - variable_rate_type_id
                          - social_bond
                          - transition_bond
                          - sustainability_bond
                          - sustainability_linked_bond
                          - non_complex_financial_instrument
                          - investment_bond
                          - coco_bond
            example:
              auth:
                login: Test
                password: test
              filters: []
              quantity:
                limit: 10
                offset: 0
              sorting: []
              fields: []
      responses:
        200:
          description: Successful response
          content:
            "application/json":
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of items in the current response
                  total:
                    type: integer
                    description: Total number of items matching the request
                  limit:
                    type: integer
                  offset:
                    type: integer
                  exec_time:
                    type: number
                    description: Execution time in seconds
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          title: id записи (эмиссии)
                          description: Уникальный идентификатор эмиссии
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        isin_code:
                          title: ISIN / ISIN RegS
                          description: "Международный идентификационный номер ценных бумаг - 12-значный буквенно-цифровой код, который не содержит информации, характеризующей финансовый инструмент, но служит для однозначной идентификации ценной бумаги при осуществлении операций и расчетов с ценными бумагами."
                          type: string
                          x-searchable: true
                          x-sortable: true
                        isin_code_144a:
                          title: ISIN 144A
                          description: "Код ISIN, присвоенный выпуску в соответствии с правилом 144А."
                          type: string
                          x-searchable: true
                          x-sortable: true
                        isin_code_3:
                          title: Код временный ISIN
                          description: "Код временный ISIN допэмиссии или ISIN код, присваиваемый при обмене глобальных нот на документарные на предъявителя"
                          type: string
                          x-searchable: true
                          x-sortable: true
                        number_of_emission_rus:
                          title: Номер эмиссии (rus)
                          description: Идентификационный номер выпуска.
                          type: string
                        number_of_emission_eng:
                          title: Номер эмиссии (eng)
                          description: Идентификационный номер выпуска.
                          type: string
                        number_of_emission_pol:
                          title: Номер эмиссии (pol)
                          description: Идентификационный номер выпуска.
                          type: string
                        number_of_emission_ita:
                          title: Номер эмиссии (ita)
                          description: Идентификационный номер выпуска.
                          type: string
                        state_reg_number:
                          title: Государственный регистрационный номер
                          description: Идентификационный номер местного выпуска.
                          type: string
                          x-searchable: true
                          x-sortable: true
                        currency_id:
                          title: Валюта ID
                          description: Уникальный идентификатор валюты. Справочный метод get_currencies
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        nominal_price:
                          title: Минимальный торговый лот / Номинал
                          description: "Для еврооблигаций в поле указывается минимальный торговый лот, для облигаций - номинал."
                          type: number
                        indexation_rus:
                          title: Индексация (rus)
                          description: Описание условий индексации номинальной стоимости.
                          type: string
                        indexation_eng:
                          title: Индексация (eng)
                          description: Описание условий индексации номинальной стоимости.
                          type: string
                        indexation_pol:
                          title: Индексация (pol)
                          description: Описание условий индексации номинальной стоимости.
                          type: string
                        indexation_ita:
                          title: Индексация (ita)
                          description: Описание условий индексации номинальной стоимости.
                          type: string
                        announced_volume:
                          title: Объем эмиссии
                          description: УСТАРЕЛО. Объем эмиссии с учетом первичного размещения и дополнительных размещений.
                          type: number
                        placed_volume:
                          title: Объем в обращении
                          description: "УСТАРЕЛО. Объем эмиссии с учетом первичного размещения, дополнительного размещения и обратного выкупа."
                          type: number
                        cupon_period:
                          title: Периодичность выплаты купона
                          description: "Количество купонных выплат в год. Если поле не заполнено, платежи не производятся регулярно."
                          type: integer
                          format: int64
                        kind_id:
                          title: Тип облигаций ID
                          description: Уникальный идентификатор типа облигации. Справочный метод get_emission_kinds
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        status_id:
                          title: Статус эмиссии (id)
                          description: Полный список статусов в методе get_emission_statuses
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        date_of_end_placing:
                          title: Дата окончания размещения
                          description: The last day a bond is available for subscription before it is fully allocated to investors
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        date_of_start_circulation:
                          title: Дата начала обращения
                          description: Refers to the first day the bond begins trading on the secondary market or exchange
                          type: string
                          format: date
                        date_of_start_placing:
                          title: Дата начала размещения
                          description: The first day a bond is made available to investors for subscription
                          type: string
                          format: date
                        next_replacing_date:
                          title: Дата ближайшего доразмещения
                          description: Refers to the scheduled date when the issuer will offer additional tranches of the same bond series after the initial issuance
                          type: string
                          format: date
                        maturity_date:
                          title: Дата погашения
                          description: "В соответствии с эмиссионной документацией / существенным фактом, опубликованным эмитентом. Для возобновляемых облигаций в это поле вводится дата последнего погашения. Если бумага бессрочная, соответствующая информация отображается в виде текста."
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        early_redemption_date:
                          title: Дата досрочного погашения
                          description: "Согласно существенному факту, опубликованному эмитентом."
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        convertable:
                          title: Конвертируемость (да/нет)
                          description: Флаг конвертации для бумаги.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        emitent_id:
                          title: Эмитент ID
                          description: Уникальный идентификатор эмитента. Метод get_emitents
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        subkind_id:
                          title: Подтип облигации (id)
                          description: Список подтипов в методе get_emission_subkinds
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        auction_type_id:
                          title: Тип аукциона ID
                          description: Уникальный идентификатор типа аукциона. Справочный метод get_auction_types
                          type: integer
                          format: int64
                        coupon_type_id:
                          title: Вид облигаций ID
                          description: |-
                            Уникальный идентификатор вида облигаций и еврооблигаций по типу купона. Справочный метод get_coupon_types. Купонные облигации: держателю облигаций выплачивается не только номинальная стоимость на момент погашения, но и периодический доход от купонов.
                            Облигации с нулевой купоном: доход держателя облигаций заключается в том, что они покупают облигации по цене ниже номинальной стоимости и получают номинальную стоимость на момент погашения.
                            Проценты по погашению: держателю облигаций выплачивается не только номинальная стоимость, но и проценты на момент погашения.
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        issue_form_id:
                          title: Форма выпуска (id)
                          description: УСТАРЕЛО. Используйте поля bond_issue_form и status_issue_form
                          type: integer
                          format: int64
                        placing_type_id:
                          title: Тип размещения (id)
                          description: Справочный метод get_placing_types
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        private_offering_id:
                          title: Способ размещения (id)
                          description: Справочный метод get_private_offerings
                          type: integer
                          format: int64
                        vid_id:
                          title: Вид гос. облигации (id)
                          description: A numeric identifier that classifies the type of government-issued bond
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        registration_date:
                          title: "Дата регистрации "
                          description: "The date a bondholder is officially recorded as the owner of the bond, used for legal and payment purposes"
                          type: string
                          format: date
                        price_of_primary_placing:
                          title: Цена первичного размещения
                          description: "Согласно эмиссионной документации/существенному факту, опубликованному эмитентом/расчетам Cbonds."
                          type: number
                        income_of_primary_placing:
                          title: Доходность первичного размещения
                          description: "The expected return on a bond based on its initial issuance price and terms, before it starts trading on the secondary market"
                          type: number
                        formal_emitent_id:
                          title: Формальный эмитент (id)
                          description: id из метода get_emitents
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        guarantor_id:
                          title: Гарант (id)
                          description: УСТАРЕЛО
                          type: integer
                          format: int64
                        bond_type:
                          title: Амортизационные облигации (да/нет)
                          description: Флаг частичного погашения номинальной стоимости в течение периода обращения.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        next_replacing_amount:
                          title: Доразмещаемый объем
                          type: number
                        floating_rate:
                          title: Плавающая ставка купона (да/нет)
                          description: "Значение \"Да\" означает, что по крайней мере одна из ставок не является фиксированной."
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        reference_rate_id:
                          title: Базовая ставка (id)
                          description: |-
                            Базовая ставка для эмиссий с плавающей ставкой купона
                            Справочный метод get_rates
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        margin:
                          title: Маржа
                          description: Маржа для расчета плавающей ставки купона
                          type: number
                        dcc_code:
                          title: ДКК / ДКК RegS
                          description: Often stands for Debt Capital Commitment or can be shorthand used by an issuer for a particular series of bonds. It indicates the bond series or program name
                          type: string
                        dcc_code_144a:
                          title: ДКК 144A
                          description: Refers to the same bond series (DCC) but issued under Rule 144A of the U.S. Securities Act of 1933
                          type: string
                        cfi_code:
                          title: CFI / CFI RegS
                          description: Шестизначный алфавитный идентификационный код. CFI код предоставляет возможность классифицировать финансовый инструмент по его существенным характеристикам. Код CFI не является уникальным.
                          type: string
                        cfi_code_144a:
                          title: CFI 144A
                          description: CFI код присваивается бумаге в соответствии с правилом 144A.
                          type: string
                        integral_multiple:
                          title: Лот кратности
                          description: "Приращение торгового лота, на которое может увеличиться минимальный торговый лот"
                          type: number
                        subordinated_debt:
                          title: Субординированность долга (да/нет)
                          description: В случае банкротства эмитента держатели эмиссии получают денежные средства только после полного обслуживания основного долга.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        settlement_date:
                          title: Дата начала начисления купонов
                          description: В соответствии с выданной документацией.
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        micex_shortname:
                          title: Краткое название эмиссии на ММВБ (rus)
                          type: string
                        bbgid:
                          title: FIGI / FIGI RegS
                          description: "Международный уникальный идентификационный код безопасности, 12-значный буквенно-цифровой код, присвоенный агентством Bloomberg."
                          type: string
                          x-searchable: true
                          x-sortable: true
                        bbgid_composite:
                          title: Код FIGI Composite
                          description: Код Bloomberg
                          type: string
                          x-searchable: true
                          x-sortable: true
                        bbgid_ticker:
                          title: Тикер Bloomberg
                          description: Краткое наименование бумаги в Bloomberg
                          type: string
                        code_pfts:
                          title: УСТАРЕЛО
                          description: OUTDATED
                          type: string
                        emitent_inn:
                          title: ИНН эмитента
                          description: "Поле заполняется только для эмитентов, страна риска которых - РФ."
                          type: string
                          x-searchable: true
                          x-sortable: true
                        emitent_inn_ua:
                          title: ЕДРПОУ эмитента
                          type: string
                        emitent_name_rus:
                          title: Эмитент (rus)
                          type: string
                        emitent_name_eng:
                          title: Эмитент (eng)
                          type: string
                        emitent_name_pol:
                          title: Эмитент (pol)
                          type: string
                        emitent_name_ita:
                          title: Эмитент (ita)
                          type: string
                        emitent_type_name_rus:
                          title: Тип эмитента (rus)
                          description: "1 - Corporate, 2 - Municipal, 3 - Sovereign"
                          type: string
                        emitent_type_name_eng:
                          title: Тип эмитента (eng)
                          description: "1 - Corporate, 2 - Municipal, 3 - Sovereign"
                          type: string
                        emitent_type_name_pol:
                          title: Тип эмитента (pol)
                          description: "1 - Corporate, 2 - Municipal, 3 - Sovereign"
                          type: string
                        emitent_type_name_ita:
                          title: Тип эмитента (ita)
                          description: "1 - Corporate, 2 - Municipal, 3 - Sovereign"
                          type: string
                        emitent_adress_rus:
                          title: Адрес эмитента (rus)
                          type: string
                        emitent_adress_eng:
                          title: Адрес эмитента (eng)
                          type: string
                        emitent_adress_pol:
                          title: Адрес эмитента (pol)
                          type: string
                        emitent_adress_ita:
                          title: Адрес эмитента (ita)
                          type: string
                        emitent_phone:
                          title: Телефон эмитента
                          type: string
                        emitent_email:
                          title: Email эмитента
                          type: string
                        emitent_site_rus:
                          title: Сайт эмитента (rus)
                          type: string
                        emitent_site_eng:
                          title: Сайт эмитента (eng)
                          type: string
                        emitent_site_pol:
                          title: Сайт эмитента (pol)
                          type: string
                        emitent_site_ita:
                          title: Сайт эмитента (ita)
                          type: string
                        formal_emitent_name_rus:
                          title: Формальный эмиент (rus)
                          description: |-
                            A special purpose company created for the implementation of a particular project
                            or for a specific purpose, as a rule, for conducting financial transactions as a
                            borrower.
                          type: string
                        formal_emitent_name_eng:
                          title: Формальный эмиент (eng)
                          description: "Компания специального назначения, созданная для реализации конкретного проекта или с определенной целью, как правило, для проведения финансовых операций в качестве заемщика."
                          type: string
                        formal_emitent_name_pol:
                          title: Формальный эмиент (pol)
                          description: "Компания специального назначения, созданная для реализации конкретного проекта или с определенной целью, как правило, для проведения финансовых операций в качестве заемщика."
                          type: string
                        formal_emitent_name_ita:
                          title: Формальный эмиент (ita)
                          description: "Компания специального назначения, созданная для реализации конкретного проекта или с определенной целью, как правило, для проведения финансовых операций в качестве заемщика."
                          type: string
                        emission_cupon_basis_id:
                          title: База расчета НКД ID
                          description: Уникальный идентификатор. Определяет метод расчета количества дней между датами. Справочный метод get_day_count_conventions
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        emission_emitent_id:
                          title: Эмитент ID
                          description: Уникальный идентификатор эмитента. Метод get_emitents
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        emitent_type:
                          title: Тип эмитента (id)
                          description: Справочник get_emitent_types
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        emitent_country:
                          title: ID страны эмитента
                          description: Уникальный идентификатор страны эмитента. Справочный метод get_countries
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        ss_trading_grounds:
                          title: "Торговые площадки, на которых торгуется эмиссия (id)"
                          type: string
                        ss_tg_qlists:
                          title: "Котировальные листы торговых площадок, на которых торгуется эмиссия (id)"
                          type: string
                        ss_tg_countries:
                          title: "Страны торговых площадок, на которых торгуется эмиссия (id)"
                          type: string
                        cusip_144a:
                          title: CUSIP 144A
                          description: Код CUSIP присваивается в соответствии с правилом 144А.
                          type: string
                          x-searchable: true
                          x-sortable: true
                        cusip_regs:
                          title: CUSIP / CUSIP RegS
                          description: "Девятизначный идентификационный код, состоящий из букв и цифр, который однозначно идентифицирует североамериканские финансовые инструменты."
                          type: string
                          x-searchable: true
                          x-sortable: true
                        emitent_country_region_id:
                          title: ID региона эмитента
                          description: Уникальный идентификатор региона эмитента. Справочный метод get_regions
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        updating_date:
                          title: Дата обновления
                          description: Дата обновления записи по основным параметрам эмиссий
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        kind_name_eng:
                          title: Тип облигаций (eng)
                          description: "Разделены на Внутренние облигации, Международные облигации, Векселя."
                          type: string
                        kind_name_rus:
                          title: Тип облигаций (rus)
                          description: "Разделены на Внутренние облигации, Международные облигации, Векселя."
                          type: string
                        kind_name_pol:
                          title: Тип облигаций (pol)
                          description: "Разделены на Внутренние облигации, Международные облигации, Векселя."
                          type: string
                        kind_name_ita:
                          title: Тип облигаций (ita)
                          description: "Разделены на Внутренние облигации, Международные облигации, Векселя."
                          type: string
                        status_name_eng:
                          title: Статус (eng)
                          description: |-
                            Планируется: регистрируется дополнительное размещение.
                            Размещение: дата начала размещения наступила, сделки не заключались на основании допэмиссии.
                            В обращении: по крайней мере одна облигация была размещена.
                            Погашение: облигации погашаются своевременно и в полном объеме (для конвертируемых облигаций-конвертация в акции).
                          type: string
                        status_name_rus:
                          title: Статус (rus)
                          description: |-
                            Планируется: регистрируется дополнительное размещение.
                            Размещение: дата начала размещения наступила, сделки не заключались на основании допэмиссии.
                            В обращении: по крайней мере одна облигация была размещена.
                            Погашение: облигации погашаются своевременно и в полном объеме (для конвертируемых облигаций-конвертация в акции).
                          type: string
                        status_name_pol:
                          title: Статус (pol)
                          description: |-
                            Планируется: регистрируется дополнительное размещение.
                            Размещение: дата начала размещения наступила, сделки не заключались на основании допэмиссии.
                            В обращении: по крайней мере одна облигация была размещена.
                            Погашение: облигации погашаются своевременно и в полном объеме (для конвертируемых облигаций-конвертация в акции).
                          type: string
                        status_name_ita:
                          title: Статус (ita)
                          description: |-
                            Планируется: регистрируется дополнительное размещение.
                            Размещение: дата начала размещения наступила, сделки не заключались на основании допэмиссии.
                            В обращении: по крайней мере одна облигация была размещена.
                            Погашение: облигации погашаются своевременно и в полном объеме (для конвертируемых облигаций-конвертация в акции).
                          type: string
                        placing_type_name_eng:
                          title: Тип размещения (eng)
                          description: "Публичная подписка - это способ размещения, который подразумевает, что право на покупку облигаций не ограничено. Закрытая подписка-это способ размещения, предполагающий ограничение права приобретения облигаций в эмиссионной документации. Конвертация - это преобразование одного вида или категории ценных бумаг в другой вид или категорию ценных бумаг."
                          type: string
                        placing_type_name_rus:
                          title: Тип размещения (rus)
                          description: "Публичная подписка - это способ размещения, который подразумевает, что право на покупку облигаций не ограничено. Закрытая подписка-это способ размещения, предполагающий ограничение права приобретения облигаций в эмиссионной документации. Конвертация - это преобразование одного вида или категории ценных бумаг в другой вид или категорию ценных бумаг."
                          type: string
                        placing_type_name_pol:
                          title: Тип размещения (pol)
                          description: "Публичная подписка - это способ размещения, который подразумевает, что право на покупку облигаций не ограничено. Закрытая подписка-это способ размещения, предполагающий ограничение права приобретения облигаций в эмиссионной документации. Конвертация - это преобразование одного вида или категории ценных бумаг в другой вид или категорию ценных бумаг."
                          type: string
                        placing_type_name_ita:
                          title: Тип размещения (ita)
                          description: "Публичная подписка - это способ размещения, который подразумевает, что право на покупку облигаций не ограничено. Закрытая подписка-это способ размещения, предполагающий ограничение права приобретения облигаций в эмиссионной документации. Конвертация - это преобразование одного вида или категории ценных бумаг в другой вид или категорию ценных бумаг."
                          type: string
                        currency_name:
                          title: Валюта (rus)
                          type: string
                        emitent_country_name_eng:
                          title: Страна эмитента (eng)
                          description: "The name of the issuer's country of risk."
                          type: string
                        emitent_country_name_rus:
                          title: Страна эмитента (rus)
                          description: "The name of the issuer's country of risk."
                          type: string
                        emitent_country_name_pol:
                          title: Страна эмитента (pol)
                          description: "The name of the issuer's country of risk."
                          type: string
                        emitent_country_name_ita:
                          title: Страна эмитента (ita)
                          description: "The name of the issuer's country of risk."
                          type: string
                        emission_cupon_basis_title:
                          title: База расчета НКД (rus)
                          description: Определяет метод расчета количества дней между датами.
                          type: string
                        cupon_eng:
                          title: Ставка купона (eng)
                          description: Краткая информация о ставках всех купонных периодов.
                          type: string
                        cupon_rus:
                          title: Ставка купона (rus)
                          description: Краткая информация о ставках всех купонных периодов.
                          type: string
                        cupon_pol:
                          title: Ставка купона (pol)
                          description: Краткая информация о ставках всех купонных периодов.
                          type: string
                        cupon_ita:
                          title: Ставка купона (ita)
                          description: Краткая информация о ставках всех купонных периодов.
                          type: string
                        agents_eng:
                          title: Участники размещения (eng)
                          description: "В поле указываются все участники размещения (букраннеры, юр. консультанты, платежные агенты, депозитарии и т. д.)"
                          type: string
                        agents_rus:
                          title: Участники размещения (rus)
                          description: "В поле указываются все участники размещения (букраннеры, юр. консультанты, платежные агенты, депозитарии и т. д.)"
                          type: string
                        agents_pol:
                          title: Участники размещения (pol)
                          description: "В поле указываются все участники размещения (букраннеры, юр. консультанты, платежные агенты, депозитарии и т. д.)"
                          type: string
                        agents_ita:
                          title: Участники размещения (ita)
                          description: "В поле указываются все участники размещения (букраннеры, юр. консультанты, платежные агенты, депозитарии и т. д.)"
                          type: string
                        guarantor_name_eng:
                          title: Гарант (eng)
                          description: УСТАРЕЛО
                          type: string
                        guarantor_name_rus:
                          title: Гарант (rus)
                          description: УСТАРЕЛО
                          type: string
                        guarantor_name_pol:
                          title: Гарант (pol)
                          description: УСТАРЕЛО
                          type: string
                        guarantor_name_ita:
                          title: Гарант (ita)
                          description: УСТАРЕЛО
                          type: string
                        emitent_country_subregion_id:
                          title: ID субрегиона эмитента
                          description: Уникальный идентификатор субрегиона эмитента. Справочный метод get_subregions
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        emitent_reg_form_name_rus:
                          title: Регистрационная форма эмитента (rus)
                          type: string
                        emitent_reg_form_name_eng:
                          title: Регистрационная форма эмитента (eng)
                          type: string
                        emitent_reg_form_id:
                          title: Регистрационная форма эмитента (id)
                          description: Уникальный идентификатор регистрационной формы эмитента. Справочный метод get_reg_forms (statuses_id)
                          type: integer
                          format: int64
                        outstanding_nominal_price:
                          title: Непогашенный номинал
                          description: "Номинал эмиссии, непогашенный на текущую дату."
                          type: number
                        document_eng:
                          title: Название эмиссии (eng)
                          type: string
                        document_rus:
                          title: Название эмиссии (rus)
                          type: string
                        document_pol:
                          title: Название эмиссии (pol)
                          type: string
                        document_ita:
                          title: Название эмиссии (ita)
                          type: string
                        offert_date:
                          title: Дата ближайшей оферты (put/call)
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        emitent_branch_id:
                          title: Отрасль эмитента ID
                          description: Уникальный идентификатор отрасли эмитента. Справочный метод get_branches
                          type: integer
                          format: int64
                          x-searchable: true
                          x-sortable: true
                        emitent_branch_name_eng:
                          title: Название отрасли эмитента (eng)
                          description: "Issuer's industry. Reference endpoint get_branches"
                          type: string
                        emitent_branch_name_pol:
                          title: Название отрасли эмитента (pol)
                          description: "Issuer's industry. Reference endpoint get_branches"
                          type: string
                        emitent_branch_name_rus:
                          title: Название отрасли эмитента (rus)
                          description: "Issuer's industry. Reference endpoint get_branches"
                          type: string
                        number_of_emission:
                          title: Номер эмиссии (rus)
                          description: Идентификационный номер выпуска.
                          type: string
                        update_time:
                          title: Дата обновления записи
                          description: "Дата обновления данных, обновляется каждый день. Техническое поле."
                          type: string
                          format: date
                          x-searchable: true
                          x-sortable: true
                        emitent_branch_name_ita:
                          title: Название отрасли эмитента (ita)
                          description: "Issuer's industry. Reference endpoint get_branches"
                          type: string
                        formal_emitent_type:
                          title: Тип формального эмитента
                          type: integer
                          format: int64
                        formal_emitent_reg_form_id:
                          title: ID регистрационной формы формального эмитента
                          description: Уникальный идентификатор регистрационной формы формального эмитента. Справочный метод get_reg_forms (id)
                          type: integer
                          format: int64
                        formal_emitent_country:
                          title: Страна формального эмитента
                          type: integer
                          format: int64
                        formal_emitent_branch_id:
                          title: ID отрасли формального эмитента
                          description: "Unique identifier of the formal issuer's industry. Reference endpoint get_branches"
                          type: integer
                          format: int64
                        book_closing_date:
                          title: Дата закрытия книги заявок
                          description: "Согласно существенному факту, опубликованному эмитентом."
                          type: string
                          format: date
                        book_opening_date:
                          title: Дата открытия книги заявок
                          description: "Согласно существенному факту, опубликованному эмитентом."
                          type: string
                          format: date
                        more_eng:
                          title: Дополнительная информация (eng)
                          type: string
                        more_rus:
                          title: Дополнительная информация (rus)
                          type: string
                        mortgage_bonds:
                          title: Ипотечная бумага (да/нет)
                          description: Флаг обеспечения бумаги ипотекой.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        restructing:
                          title: Реструктуризация (да/нет)
                          description: В отношении данной бумаги была проведена по меньшей мере одна процедура реструктуризации.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        restructing_date:
                          title: Дата реструктуризации
                          type: string
                          format: date
                        restructing_more_eng:
                          title: Реструктуризация (доп. информация) (eng)
                          type: string
                        restructing_more_rus:
                          title: Реструктуризация (доп. информация) (rus)
                          type: string
                        remaining_outstand_amount:
                          title: Объем в обращении по непогашенному номиналу
                          type: number
                        cbrf_listing_lombard_last_date_date:
                          title: Дата последнего ломбардного списка
                          description: УСТАРЕВШЕЕ
                          type: string
                          format: date
                        gov_program_state_reg_number:
                          title: Гос. рег. номер программы облигаций
                          type: string
                        show_em:
                          title: Профиль EM
                          type: integer
                        show_ru:
                          title: Профиль RU
                          description: Trading at Moscow Exchange
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        show_ua:
                          title: Профиль UA
                          type: integer
                        private_issue:
                          title: Нерыночный выпуск (да/нет)
                          description: Флаг указывается Cbonds на дату размещения выпуска в соответствии с действующей методологией рейтингования инвестиционных банков.
                          type: integer
                        secured_debt:
                          title: Облигации с покрытием (да/нет)
                          description: "Флаг - выпуск обеспечен портфелем займов, чаще всего ипотечных, по которым недвижимость выступает в качестве залога, или другими активами."
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        spread_mid_swaps:
                          title: Спред к mid-swaps
                          description: в базисных пунктах
                          type: number
                        spread_us_treasures:
                          title: Спред к казначейским облигациям США
                          description: в базисных пунктах
                          type: number
                        perpetual:
                          title: Бессрочные (да/нет)
                          description: Флаг - отсутствует ли дата погашения по данному выпуску.
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        eurobonds_nominal:
                          title: Номинал для еврооблигаций
                          description: Face value of Eurobonds (kind_id = 2)
                          type: number
                        curr_coupon_rate:
                          title: Ставка текущего купона
                          type: number
                        curr_coupon_sum:
                          title: Сумма текущего купона
                          type: number
                        reference_rate_name_eng:
                          title: Базовая ставка (eng)
                          description: В поле базовой ставке проставляется значение на текущий купон.
                          type: string
                        reference_rate_name_rus:
                          title: Базовая ставка (rus)
                          description: В поле базовой ставке проставляется значение на текущий купон.
                          type: string
                        reference_rate_name_pol:
                          title: Базовая ставка (pol)
                          description: В поле базовой ставке проставляется значение на текущий купон.
                          type: string
                        reference_rate_name_ita:
                          title: Базовая ставка (ita)
                          description: В поле базовой ставке проставляется значение на текущий купон.
                          type: string
                        subkind_name_eng:
                          title: Подтип облигации (eng)
                          description: The type of debt instrument
                          type: string
                        subkind_name_rus:
                          title: Подтип облигации (rus)
                          type: string
                        subkind_name_pol:
                          title: Подтип облигации (pol)
                          type: string
                        subkind_name_ita:
                          title: Подтип облигации (ita)
                          type: string
                        structured_note:
                          title: Структурированные продукты (да/нет)
                          description: |-
                            Структурированный продукт - это финансовый инструмент с согласованным периодом обращения,
                            который включает в себя множество различных финансовых инструментов, которые служат основными активами (депозиты, облигации, акции, фьючерсы, опционы и т. д.).
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        show_pl:
                          title: Профиль PL
                          type: integer
                        coupon_type_name_eng:
                          title: Вид облигаций (eng)
                          description: |-
                            Купонные облигации: держателю облигаций выплачивается не только номинальная стоимость на момент погашения, но и периодический купонный доход.
                            Облигации с нулевым купоном: доход владельца облигации заключается в том, что он покупает облигацию по цене ниже номинальной стоимости и получает номинальную стоимость в момент погашения.
                            Проценты при погашении: держателю облигации выплачивается не только номинальная стоимость, но и проценты при погашении.
                          type: string
                        coupon_type_name_rus:
                          title: Вид облигаций (rus)
                          description: |-
                            Купонные облигации: держателю облигаций выплачивается не только номинальная стоимость на момент погашения, но и периодический купонный доход.
                            Облигации с нулевым купоном: доход владельца облигации заключается в том, что он покупает облигацию по цене ниже номинальной стоимости и получает номинальную стоимость в момент погашения.
                            Проценты при погашении: держателю облигации выплачивается не только номинальная стоимость, но и проценты при погашении.
                          type: string
                        coupon_type_name_pol:
                          title: Вид облигаций (pol)
                          description: |-
                            Купонные облигации: держателю облигаций выплачивается не только номинальная стоимость на момент погашения, но и периодический купонный доход.
                            Облигации с нулевым купоном: доход владельца облигации заключается в том, что он покупает облигацию по цене ниже номинальной стоимости и получает номинальную стоимость в момент погашения.
                            Проценты при погашении: держателю облигации выплачивается не только номинальная стоимость, но и проценты при погашении.
                          type: string
                        coupon_type_name_ita:
                          title: Вид облигаций (ita)
                          description: |-
                            Купонные облигации: держателю облигаций выплачивается не только номинальная стоимость на момент погашения, но и периодический купонный доход.
                            Облигации с нулевым купоном: доход владельца облигации заключается в том, что он покупает облигацию по цене ниже номинальной стоимости и получает номинальную стоимость в момент погашения.
                            Проценты при погашении: держателю облигации выплачивается не только номинальная стоимость, но и проценты при погашении.
                          type: string
                        vid_name_eng:
                          title: Вид облигаций для гос. бумаг (eng)
                          description: The name of the government-issued bond type.
                          type: string
                        vid_name_rus:
                          title: Вид облигаций для гос. бумаг (rus)
                          description: The name of the government-issued bond type.
                          type: string
                        vid_name_pol:
                          title: Вид облигаций для гос. бумаг (pol)
                          description: The name of the government-issued bond type.
                          type: string
                        vid_name_ita:
                          title: Вид облигаций для гос. бумаг (ita)
                          description: The name of the government-issued bond type.
                          type: string
                        issue_form_name_eng:
                          title: Форма выпуска (eng)
                          description: УСТАРЕЛО. Используйте поля bond_issue_form_name_eng и status_issue_form_name_eng
                          type: string
                        issue_form_name_rus:
                          title: Форма выпуска (rus)
                          description: УСТАРЕЛО. Используйте поля bond_issue_form_name_rus и status_issue_form_name_rus
                          type: string
                        issue_form_name_pol:
                          title: Форма выпуска (pol)
                          description: УСТАРЕЛО. Используйте поля bond_issue_form_name_eng и status_issue_form_name_eng
                          type: string
                        issue_form_name_ita:
                          title: Форма выпуска (ita)
                          description: УСТАРЕЛО. Используйте поля bond_issue_form_name_eng и status_issue_form_name_eng
                          type: string
                        private_offering_name_eng:
                          title: Способ размещения (eng)
                          description: "Разделяются на Открытую подписку, Закрытую подписку, Конверсию."
                          type: string
                        private_offering_name_rus:
                          title: Способ размещения (rus)
                          description: "Разделяются на Открытую подписку, Закрытую подписку, Конверсию."
                          type: string
                        private_offering_name_pol:
                          title: Способ размещения (pol)
                          description: "Разделяются на Открытую подписку, Закрытую подписку, Конверсию."
                          type: string
                        private_offering_name_ita:
                          title: Способ размещения (ita)
                          description: "Разделяются на Открытую подписку, Закрытую подписку, Конверсию."
                          type: string
                        auction_type_name_eng:
                          title: Тип аукциона (eng)
                          description: "There are price, coupon or bookbuilding"
                          type: string
                        auction_type_name_rus:
                          title: Тип аукциона (rus)
                          description: "There are price, coupon or bookbuilding"
                          type: string
                        auction_type_name_pol:
                          title: Тип аукциона (pol)
                          description: "There are price, coupon or bookbuilding"
                          type: string
                        auction_type_name_ita:
                          title: Тип аукциона (ita)
                          description: "There are price, coupon or bookbuilding"
                          type: string
                        emission_wkn_code:
                          title: Код WKN
                          type: string
                        gov_program_registration_date:
                          title: Дата регистрации программы облигаций
                          type: string
                          format: date
                        initial_placement_volume:
                          title: Объем первоначального размещения
                          description: "Заполняется, когда были состоявшиеся доразмещения."
                          type: number
                        emission_coupon_rate:
                          title: ТЕХНИЧЕСКОЕ Ставка купона
                          description: Используется для автоматического расчета денежного потока и внутренних проверок.
                          type: number
                        emitent_full_name_eng:
                          title: Полное название эмитента (eng)
                          type: string
                        emitent_full_name_rus:
                          title: Полное название эмитента (rus)
                          type: string
                        emitent_full_name_pol:
                          title: Полное название эмитента (pol)
                          type: string
                        emitent_full_name_ita:
                          title: Полное название эмитента (ita)
                          type: string
                        settlement_duration:
                          title: "Дюрация при размещении, лет"
                          type: number
                        emission_wkn_code_144a:
                          title: Код WKN 144A
                          type: string
                        usd_volume:
                          title: Эквивалент объема эмиссии в USD
                          description: The issuance volume converted to USD equivalent.
                          type: number
                        offert_rus:
                          title: Условия досрочного выкупа (rus)
                          description: Информация о предложениях в текстовом виде.
                          type: string
                        offert_eng:
                          title: Условия досрочного выкупа (eng)
                          description: Информация о предложениях в текстовом виде.
                          type: string
                        offert_pol:
                          title: Условия досрочного выкупа (pol)
                          description: Информация о предложениях в текстовом виде.
                          type: string
                        offert_ita:
                          title: Условия досрочного выкупа (ita)
                          description: Информация о предложениях в текстовом виде.
                          type: string
                        offert_date_put:
                          title: Дата ближайшей оферты (put)
                          type: string
                          format: date
                        offert_date_call:
                          title: Дата ближайшей оферты (call)
                          type: string
                          format: date
                        show_ib:
                          title: Профиль IB
                          type: integer
                        convert_cond_rus:
                          title: Условия конвертации (rus)
                          description: "Описание событий, наступление которых влечет за собой конвертацию."
                          type: string
                        convert_cond_eng:
                          title: Условия конвертации (eng)
                          description: "Описание событий, наступление которых влечет за собой конвертацию."
                          type: string
                        convert_cond_pol:
                          title: Условия конвертации (pol)
                          description: "Описание событий, наступление которых влечет за собой конвертацию."
                          type: string
                        convert_cond_ita:
                          title: Условия конвертации (ita)
                          description: "Описание событий, наступление которых влечет за собой конвертацию."
                          type: string
                        trading_ground_name_rus:
                          title: Торговые площадки (rus)
                          description: "Список торговых площадок, в котировальных листах которых есть эмиссия (rus) УСТАРЕЛО"
                          type: string
                        trading_ground_name_eng:
                          title: Торговые площадки (eng)
                          description: |-
                            Список торговых площадок, в котировальных листах которых есть эмиссия (eng)
                            УСТАРЕЛО
                          type: string
                        trading_ground_name_pol:
                          title: Торговые площадки (pol)
                          description: |-
                            Список торговых площадок, в котировальных листах которых есть эмиссия (pol)
                            УСТАРЕЛО
                          type: string
                        trading_ground_name_ita:
                          title: Торговые площадки (ita)
                          description: |-
                            Список торговых площадок, в котировальных листах которых есть эмиссия (ita)
                            УСТАРЕЛО
                          type: string
                        trading_grounds_full_rus:
                          title: "Список бирж, на которых обращается бумага (rus)"
                          description: "Список бирж, на которых обращается бумага (торговая площадка с ISIN эмиссии, котировальным листом и датой включения в него) (rus)"
                          type: string
                        trading_grounds_full_eng:
                          title: "Список бирж, на которых обращается бумага (eng) "
                          description: "Список бирж, на которых обращается бумага (торговая площадка с ISIN эмиссии, котировальным листом и датой включения в него) (eng)"
                          type: string
                        tradings_maxdate:
                          title: Дата последних торгов
                          type: string
                          format: date
                        tradings_indicative_price:
                          title: Индикативная цена
                          type: number
                        tradings_yield_effect:
                          title: Доходность эффективная
                          description: Поле заполняется значением на максимальную дату по бирже trading_ground_id = 4 (Cbonds Estimation) из метода get_tradings_new (поле clearance_profit_effect)
                          type: number
                        tradings_duration:
                          title: Актуальная дюрация
                          type: number
                        emitent_pages_code:
                          title: emitent_pages_code
                          type: string
                        emission_cbr_code:
                          title: Код ЦБ РФ
                          type: string
                          x-searchable: true
                          x-sortable: true
                        redemption_price:
                          title: Цена погашения
                          type: number
                        securitisation:
                          title: Секьютиризация
                          description: "Выпуск обеспечен активами, генерирующими стабильный денежный поток (ипотечные кредиты, автокредиты и др.)"
                          type: integer
                        foreign_bond:
                          title: Иностранная облигация
                          description: "Облигация эмитента одной страны, выпущенная на внутреннем рынке ценных бумаг другой страны. Характерной особенностью иностранной облигации является то, что она не начинается с кода страны эмитента."
                          type: integer
                        tg_quoters_quantity:
                          title: Кол-во котировок от бирж за вчера
                          type: integer
                        mp_quoters_quantity:
                          title: Кол-во котировок от участников рынка за вчера
                          type: integer
                        total_quoters_quantity:
                          title: Общее кол-во котировок за вчера
                          type: integer
                        quoters_quantity_date:
                          title: "Дата, на которую посчитано кол-во котировок"
                          type: string
                          format: date
                        tgs_last_quotes_sum_volume:
                          title: Объем сделок в бумагах по всем биржам за вчера
                          type: integer
                        cdo_bond:
                          title: CDO
                          description: CDO is a derivative financial instrument (credit derivative) that provides the opportunity to securitize a pool of various debt assets through the issuance of several installments of bonds using cash flows generated by such assets.
                          type: integer
                        sukuk_bond:
                          title: Облигации Сукук
                          description: "Исламские облигации. Согласно законам шариата, денежный заем под проценты, а также финансовая спекуляция осуждаются, что делает невозможным для верующих мусульман использование процентных облигаций. Принцип \"сукук\" (распределение прибылей и убытков) заключается в праве владельца облигации поделиться с эмитентом своей прибылью или убытком, то есть участвовать в распределении прибыли. Доходность облигаций не гарантируется."
                          type: integer
                        green_bonds:
                          title: "Флаг, что бумага green bonds"
                          description: "Indicates whether the security is classified as an ESG Green Bond (0 = No, 1 = Yes)"
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        retail_bond:
                          title: Розничные облигации
                          description: "Корпоративные выпуски, размещенные среди частных инвесторов."
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        has_tap_issue:
                          title: Флаг наличия доразмещений
                          type: integer
                        has_default:
                          title: Флаг наличия дефолта
                          type: integer
                          x-searchable: true
                          x-sortable: true
                        has_rating:
                          title: Флаг наличия рейтинга
                          type: integer
                        common_code:
                          title: Common Code
                          description: "Международный девятизначный идентификационный код, присвоенный совместно CEDEL и Euroclear."
                          type: string
                        common_code_144a:
                          title: Common Code 144A
                          description: "Common Code, присвоенный в соответствии с правилом 144А."
                          type: string
                        ndc_code:
                          title: Код НДЦ
                          type: string
                        bbgid_144a:
                          title: Доб. код эмиссии в БД bloomberg
                          description: Код FIGI присваивается выпуску в соответствии с правилом 144А.
                          type: string
                          x-searchable: true
                          x-sortable: true
                        bbgid_ticker_144a:
                          title: Доб. поле Ticker эмиссии в БД bloomberg
                          type: string
                        sedol:
                          title: Код SEDOL
                          description: Stock Exchange Daily Official List (SEDOL) identifier of the security
                          type: string
                          x-searchable: true
                          x-sortable: true
                        maturity_period_initial:
                          title: Срок до погашения (первоначальный)
                          description: "В соответствии с эмиссионной документацией, основанной на результатах предмаркетинга, с опорой на данные эмитента."
                          type: integer
                        last_replacing_date:
                          title: Дата последнего доразмещения
                          type: string
                          format: date
                        floor:
                          title: Нижняя граница плавающей ставки купона
                          description: Минимально возможное значение плавающей ставки.
                          type: number
                        cup:
                          title: Верхняя граница плавающей ставки купона
                          description: Максимально возможное значение плавающей ставки.
                          type: number
                        order_book:
                          title: Книга заявок (спрос)
                          description: По данным эмитента и организаторов размещения.
                          type: integer
                        accounts:
                          title: Количество счетов
                          type: integer
                        geography_breakdown_rus:
                          title: География размещения (rus)
                          description: Regional division of investors
                          type: string
                        geography_breakdown_eng:
                          title: География размещения (eng)
                          description: Regional division of investors
                          type: string
                        investors_type_rus:
                          title: Тип инвесторов (rus)
                          type: string
                        investors_type_eng:
                          title: Тип инвесторов (eng)
                          type: string
                        suspension_date:
                          title: Дата приостановления эмиссии
                          description: Согласно сообщению регулятора.
                          type: string
                          format: date
                        resumption_date:
                          title: Дата возобновления эмиссии
                          description: Согласно сообщению регулятора.
                          type: string
                          format: date
                        cutoff_price:
                          title: Цена отсечения
                          description: Минимальная цена удовлетворения заявки. На основе этого показателя рассчитывается эффективная доходность.
                          type: number
                        cutoff_yield:
                          title: Доходность по цене отсечения
                          description: |-
                            Эффективная доходность рассчитывается на основе
                            цены отсечения.
                          type: number
                        low_yield_guidance:
                          title: Нижняя граница ориентира доходности
                          description: По материалам организаторов выпуска.
                          type: number
                        high_yield_guidance:
                          title: Верхняя граница ориентира доходности
                          description: По материалам организаторов выпуска.
                          type: number
                        low_coupon_guidance:
                          title: Нижняя граница ориентира по купону
                          description: По материалам организаторов выпуска.
                          type: number
                        high_coupon_guidance:
                          title: Верхняя граница ориентира по купону
                          description: По материалам организаторов выпуска.
                          type: number
                        book_opening_time:
                          title: Время открытия книги заявок
                          description: "Согласно существенному факту, опубликованному эмитентом."
                          type: string
                          format: date
                        book_closing_time:
                          title: Время закрытия книги заявок
                          description: "Согласно существенному факту, опубликованному эмитентом."
                          type: string
                          format: date
                        purpose_rus:
                          title: Цель выпуска (rus)
                          type: string
                        purpose_eng:
                          title: Цель выпуска (eng)
                          type: string
                        amortization_schedule_rus:
                          title: График амортизации (rus)
                          type: string
                        amortization_schedule_eng:
                          title: График амортизации (eng)
                          type: string
[...]
